.row{
    margin-left: 20px;
    color: whitesmoke;
}
.posters{
    
    padding: 20px;
    overflow-y: hidden;
    overflow-x: scroll;
}
.poster{
    display: flex;
    max-height: 200px;
    margin-right: 10px;
    cursor: pointer;
    
}
.posters::-webkit-scrollbar{
    display: none;
}
.smallPoster{
    max-width: 150px;
    margin-right: 10px;
    cursor: pointer;
}
.poster:hover{
    transform: scale(1.3);
}
.smallPoster:hover{
    transform: scale(1.3);
}
